<a href="https://colab.research.google.com/github/nazero-0/wanted-pre-onboarding-challenge-data/blob/main/Pandas_Quiz_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pandas 라이브러리를 불러옵니다.
import pandas as pd

### 1. 데이터를 로드하세요. 데이터는 ","  기준으로 구분되어 있습니다.

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
# 데이터 출처 : https://www.kaggle.com/code/youngprize33/py-pandas-tutorial/input?select=games.csv
# lol.csv 파일을 불러와서 df 변수에 저장합니다.
df = pd.read_csv("/content/lol.csv", sep=',')
df

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,3308904636,1503076540231,1944,9,2,1,2,2,0,2,...,10,2,0,4,0,55,-1,90,238,157
51486,3215685759,1496957179355,3304,9,2,1,1,2,2,2,...,11,7,4,4,1,157,55,119,154,105
51487,3322765040,1504029863961,2156,9,2,2,2,2,0,1,...,10,2,0,2,0,113,122,53,11,157
51488,3256675373,1499562036246,1475,9,2,2,2,2,0,2,...,11,3,0,1,0,154,39,51,90,114
51489,3317333020,1503612754059,1445,9,1,1,1,1,1,2,...,1,0,0,1,0,11,157,141,31,18

### 2. 데이터의 상위 5개 행을 출력하세요

In [10]:
df.head(5)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

### 3. 6번째 컬럼명을 출력하세요

In [12]:
df.columns[5]

'firstBlood'

### 4. 6번째 컬럼의 데이터 타입을 확인하세요

In [21]:
data_type = df.iloc[:, 5].dtype
print(data_type)

int64

### 5. 6번째 컬럼의 3번째 값은 무엇인가?

In [23]:
print(df.iloc[2, 5])

2

### 6. 수치형 변수를 가진 컬럼을 출력하세요

In [24]:
df.select_dtypes(include=['int', 'float'])

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,3308904636,1503076540231,1944,9,2,1,2,2,0,2,...,10,2,0,4,0,55,-1,90,238,157
51486,3215685759,1496957179355,3304,9,2,1,1,2,2,2,...,11,7,4,4,1,157,55,119,154,105
51487,3322765040,1504029863961,2156,9,2,2,2,2,0,1,...,10,2,0,2,0,113,122,53,11,157
51488,3256675373,1499562036246,1475,9,2,2,2,2,0,2,...,11,3,0,1,0,154,39,51,90,114
51489,3317333020,1503612754059,1445,9,1,1,1,1,1,2,...,1,0,0,1,0,11,157,141,31,18

### 7. 각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대 , 최소)를 확인하세요

In [26]:
numeric_columns = df.select_dtypes(include=['int', 'float'])
description = numeric_columns.describe()
print(description)

             gameId  creationTime  gameDuration  seasonId        winner  \
count  5.149000e+04  5.149000e+04  51490.000000   51490.0  51490.000000
mean   3.306223e+09  1.502926e+12   1832.362808       9.0      1.493552
std    2.946096e+07  1.978026e+09    512.017696       0.0      0.499963
min    3.214824e+09  1.496892e+12    190.000000       9.0      1.000000
25%    3.292218e+09  1.502021e+12   1531.000000       9.0      1.000000
50%    3.320021e+09  1.503844e+12   1833.000000       9.0      1.000000
75%    3.327099e+09  1.504352e+12   2148.000000       9.0      2.000000
max    3.331833e+09  1.504707e+12   4728.000000       9.0      2.000000

         firstBlood    firstTower  firstInhibitor    firstBaron   firstDragon  \
count  51490.000000  51490.000000    51490.000000  51490.000000  51490.000000
mean       1.471295      1.450631        1.308487      0.926510      1.442804
std        0.520326      0.542848        0.676097      0.841424      0.569579
min        0.000000      0.000000        0.000000      0.000000      0.000000
25%        1.000000      1.000000        1.000000      0.000000      1.000000
50%        1.000000      1.000000        1.000000      1.000000      1.000000
75%        2.000000      2.000000        2.000000      2.000000      2.000000
max        2.000000      2.000000        2.000000      2.000000      2.000000

       ...  t2_towerKills  t2_inhibitorKills  t2_baronKills  t2_dragonKills  \
count  ...   51490.000000       51490.000000   51490.000000    51490.000000
mean   ...       5.549466           0.985084       0.414547        1.404370
std    ...       3.860989           1.256284       0.613768        1.224492
min    ...       0.000000           0.000000       0.000000        0.000000
25%    ...       2.000000           0.000000       0.000000        0.000000
50%    ...       6.000000           0.000000       0.000000        1.000000
75%    ...       9.000000           2.000000       1.000000        2.000000
max    ...      11.000000          10.000000       4.000000        6.000000

       t2_riftHeraldKills       t2_ban1       t2_ban2       t2_ban3  \
count        51490.000000  51490.000000  51490.000000  51490.000000
mean             0.240105    108.216294    107.910216    108.690581
std              0.427151    102.551787    102.870710    102.592145
min              0.000000     -1.000000     -1.000000     -1.000000
25%              0.000000     38.000000     37.000000     38.000000
50%              0.000000     90.000000     90.000000     90.000000
75%              0.000000    141.000000    141.000000    141.000000
max              1.000000    516.000000    516.000000    516.000000

            t2_ban4       t2_ban5
count  51490.000000  51490.000000
mean     108.626044    108.066576
std      103.346952    102.756149
min       -1.000000     -1.000000
25%       38.000000     38.000000
50%       90.000000     90.000000
75%      141.000000    141.000000
max      516.000000    516.000000

[8 rows x 61 columns]

### 8. map을 활용하여 결과 화면과 같이 나타내세요.

In [34]:
df= pd.read_csv('NA_handling_method.csv')
print('Original Dataframe')
print(df,end='\n\n')
def f1(x): # f1(x)를 구현하세요.

    return x.split()[0]


df['Argument'] = df['Description'].map(f1) # get the first word

def f2(x): # f2(x)를 구현하세요.

    return ' '.join(x.split()[1:])

df['Description'] = df['Description'].map(f2) # remove the first word

df = df.reindex(columns=['Argument', 'Description'])

print('New DataFrame')
print(df)

Original Dataframe
                                       Description
0  dropna 각 레이블의 값에 결측 데이터 여부를 기준으로 축 레이블을 필터링합니다.
1                      fillna 결측 데이터를 일부 값으로 채웁니다.
2                   isnull 결측값 여부를 bool 값으로 반환합니다.
3                          notnull isnull의 부정형입니다.

New DataFrame
  Argument                               Description
0   dropna  각 레이블의 값에 결측 데이터 여부를 기준으로 축 레이블을 필터링합니다.
1   fillna                      결측 데이터를 일부 값으로 채웁니다.
2   isnull                   결측값 여부를 bool 값으로 반환합니다.
3  notnull                           isnull의 부정형입니다.

### 9. 결측값 데이터를 처리하는 함수들을 활용하여 결과 화면과 똑같이 나타내세요.

In [35]:
from numpy import nan as NA

data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])
print('Original DataFrame')
print(data, end='\n\n')

cleaned = data.dropna()
print('결측값을 제거하세요')
print(cleaned, end='\n\n')

filled = data.fillna(0)
print('결측값을 0으로 채우세요.')
print(filled, end='\n\n')

filled2 = data.fillna({1: 0.5, 2: 1})
print('컬럼 1의 결측값은 0.5, 컬럼 2의 결측값은 1로 채우세요')
print(filled2, end='\n\n')

Original DataFrame
     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

결측값을 제거하세요
     0    1    2
0  1.0  6.5  3.0

결측값을 0으로 채우세요.
     0    1    2
0  1.0  6.5  3.0
1  1.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  6.5  3.0

컬럼 1의 결측값은 0.5, 컬럼 2의 결측값은 1로 채우세요
     0    1    2
0  1.0  6.5  3.0
1  1.0  0.5  1.0
2  NaN  0.5  1.0
3  NaN  6.5  3.0

### 10. Filtering 기법을 사용하여 결과 화면과 똑같이 나타내세요.

In [36]:
import numpy as np

data = pd.read_csv('filtering.csv')
print(data.columns)
data.describe()

Index(['0', '1', '2', '3'], dtype='object')

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.003217     0.005216     0.011480     0.060450
std       0.994605     1.021078     0.974845     1.000175
min      -3.405433    -3.128737    -2.756538    -2.804253
25%      -0.683914    -0.673399    -0.618797    -0.650437
50%       0.024839     0.026260     0.056754     0.061464
75%       0.691678     0.686333     0.653021     0.751716
max       2.959196     2.921331     2.703505     3.462036

In [ ]:
print('"0" 컬럼의 값이 -2.5보다 작거나 2.5보다 큰 row만 남깁니다.')
################
# 필터링을 해주세요.

################

"0" 컬럼의 값이 -2.5보다 작거나 2.5보다 큰 row만 남깁니다.

            0         1         2         3
59   2.936586  1.421846  0.207087 -1.110161
119 -2.628193  0.170862 -0.052603  0.136276
344 -3.405433 -0.021406  0.794715  1.487170
347  2.959196  0.455203  2.144226  3.031789
356  2.511460 -0.599986 -0.314441  2.925966
367  2.940238 -0.251607 -0.200506  0.585714
509  2.924329  0.144208 -0.086150 -0.852511
546 -2.743107  1.238505  0.235548 -0.158648
549  2.558939  0.111573 -0.509848 -2.245904
672  2.709143  0.109369  0.283526 -1.227998
910 -2.828788  1.916984  1.633806 -1.667797
992  2.697077  0.774417  1.264697  1.896905